.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 5999px;
  position: relative;
  overflow: hidden;
}
.range {
  background: var(--black-black-500, #000000);
  width: 1728px;
  height: 46px;
  top: -135px;
  transform-origin: 0 0;
  transform: rotate(27.807deg) scale(1, 1);
  overflow: hidden;
  position: absolute;
  left: calc(50% - 698px);
}
.frame-142 {
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 7px;
  }
  .text {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .your-text-here {
    color: var(--white-white-50, #ffffff);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    width: 156px;
  }
  .vector {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-123 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector2 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-125 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector3 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-127 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector4 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-129 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector5 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-131 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector6 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-1422 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector7 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-137 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector8 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-141 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector9 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-140 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector10 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-139 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector11 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-138 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector12 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-136 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector13 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-135 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector14 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-134 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector15 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .section-2 {
    width: 1440px;
    height: 610px;
    position: absolute;
    left: calc(50% - 698px);
    top: 928px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .card {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    border-style: solid;
    border-color: #000000;
    border-width: 1px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 330px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 584px;
    height: 610px;
    position: absolute;
    left: 93px;
    top: 0px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
  }
  .frame-32 {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 56px;
    padding: 14px 16px 14px 16px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 226px;
    position: relative;
    backdrop-filter: blur(27px);
  }
  .frame-1321314504 {
    display: flex;
    flex-direction: row;
    gap: 12px;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
    position: relative;
  }
  .ellipse-2775 {
    background: var(--white-white-50, #ffffff);
    border-radius: 50%;
    border-style: solid;
    border-color: var(--black-black-50, #e6e6e6);
    border-width: 1.5px;
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    position: relative;
  }
  .frame-1321314499 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    position: relative;
  }
  .item-weight {
    color: var(--white-white-50, #ffffff);
    text-align: left;
    font-family: var(--body-3-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-3-font-size, 16px);
    line-height: var(--body-3-line-height, 24px);
    letter-spacing: var(--body-3-letter-spacing, -0.01em);
    font-weight: var(--body-3-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  ._2-6-pounds {
    color: var(--white-white-50, #ffffff);
    text-align: center;
    font-family: var(--body-2-font-family, "Inter-Bold", sans-serif);
    font-size: var(--body-2-font-size, 18px);
    line-height: var(--body-2-line-height, 28px);
    letter-spacing: var(--body-2-letter-spacing, -0.01em);
    font-weight: var(--body-2-font-weight, 700);
    position: relative;
  }
  .icons8 {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 12px;
    top: 12px;
    overflow: visible;
  }
  .card-2 {
    background: linear-gradient(to left, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 330px;
    align-items: flex-start;
    justify-content: flex-start;
    width: 584px;
    height: 610px;
    position: absolute;
    left: 720px;
    /* top: -8px; */
    cursor: pointer;
  }
  .icons9 {
    flex-shrink: 0;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 12px;
    top: 12px;
    overflow: visible;
  }
  .frame-1321314595 {
    width: 100px;
    height: 100px;
    position: absolute;
    left: 385px;
    top: 355px;
    overflow: hidden;
  }
  .section-3 {
    width: 1400px;
    height: 995px;
    position: absolute;
    left: calc(50% - 698px);
    top: 1601px;
  }
  .rectangle-1 {
    background: #f3f5f9;
    border-radius: 30px;
    width: 1400px;
    height: 995px;
    position: absolute;
    left: calc(50% - 700px);
    top: 0px;
  }
  .frame-1321314586 {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: center;
    justify-content: flex-start;
    width: 1200px;
    position: absolute;
    left: 100px;
    top: 100px;
  }
  .frame-13213145402 {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    position: relative;
  }
  .new-products {
    color: #000000;
    text-align: left;
    font-family: var(--subtitle-1-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--subtitle-1-font-size, 36px);
    line-height: var(--subtitle-1-line-height, 44px);
    letter-spacing: var(--subtitle-1-letter-spacing, -0.04em);
    font-weight: var(--subtitle-1-font-weight, 600);
    position: relative;
  }
  .choose-the-headset-that-best-suits-your-needs-we-offer-top-quality-options-with-a-variety-of-features-to-enhance-your-audio-experience {
    color: var(--black-black-200, #8a8a8a);
    text-align: center;
    font-family: var(--body-2-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-2-font-size, 18px);
    line-height: var(--body-2-line-height, 28px);
    letter-spacing: var(--body-2-letter-spacing, -0.01em);
    font-weight: var(--body-2-font-weight, 400);
    position: relative;
    width: 676px;
  }
  .frame-1321314585 {
    display: flex;
    flex-direction: row;
    gap: 144px;
    align-items: center;
    justify-content: flex-start;
    align-self: stretch;
    flex-shrink: 0;
    position: relative;
  }
  .showcase {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 304px;
    position: relative;
  }
  .g-433-gallery-black-1-1 {
    align-self: stretch;
    flex-shrink: 0;
    height: 327px;
    position: relative;
    object-fit: cover;
    cursor: pointer;
  }
  .frame-1321314582 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 269px;
    position: relative;
  }
  .gabini-k-29-premium-headset-with-multi-device-connectivity-and-noise-canceling-technology-black {
    color: var(--black-black-400, #333333);
    text-align: center;
    font-family: var(--body-2-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-2-font-size, 18px);
    line-height: var(--body-2-line-height, 28px);
    letter-spacing: var(--body-2-letter-spacing, -0.01em);
    font-weight: var(--body-2-font-weight, 400);
    position: relative;
    align-self: stretch;
  }
  .frame-1321314581 {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 194px;
    position: relative;
  }
  .group-1171274727 {
    flex-shrink: 0;
    width: 194px;
    height: 48px;
    position: static;
  }
  .group-50 {
    width: 130px;
    height: 48px;
    position: static;
  }
  ._94-99 {
    color: var(--black-black-500, #000000);
    text-align: left;
    font-family: var(--h6-font-family, "Inter-Bold", sans-serif);
    font-size: var(--h6-font-size, 40px);
    letter-spacing: var(--h6-letter-spacing, -0.04em);
    font-weight: var(--h6-font-weight, 700);
    position: absolute;
    left: 19px;
    top: 0px;
  }
  .div2 {
    color: var(--black-black-500, #000000);
    text-align: left;
    font-family: var(--body-1-font-family, "Inter-Regular", sans-serif);
    font-size: var(--body-1-font-size, 20px);
    line-height: var(--body-1-line-height, 28px);
    letter-spacing: var(--body-1-letter-spacing, -0.01em);
    font-weight: var(--body-1-font-weight, 400);
    position: absolute;
    left: 0px;
    top: 0px;
  }
  .frame-273 {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    left: 133px;
    top: 4px;
  }
  ._139-99 {
    color: var(--alert-colors-red, #e12237);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.01em;
    font-weight: 400;
    text-decoration: line-through;
    position: relative;
  }
  .button-sm {
    background: var(--white-white-50, #ffffff);
    border-radius: 40px;
    border-style: solid;
    border-color: var(--white-white-700, #b5b5b5);
    border-width: 1px;
    padding: 8px 8px 8px 24px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  .see-more-details2 {
    color: var(--black-black-500, #000000);
    text-align: left;
    font-family: var(--button-2-font-family, "Inter-SemiBold", sans-serif);
    font-size: var(--button-2-font-size, 12px);
    line-height: var(--button-2-line-height, 24px);
    letter-spacing: var(--button-2-letter-spacing, -0.01em);
    font-weight: var(--button-2-font-weight, 600);
    text-transform: uppercase;
    position: relative;
  }
  .icons5 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .icons6 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }
  .icons7 {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    position: relative;
    overflow: visible;
  }