.landing-page,
.landing-page * {
  box-sizing: border-box;
}
.landing-page {
  background: #ffffff;
  height: 5999px;
  position: relative;
  overflow: hidden;
}
.range {
  background: var(--black-black-500, #000000);
  width: 1728px;
  height: 46px;
  top: -135px;
  transform-origin: 0 0;
  transform: rotate(27.807deg) scale(1, 1);
  overflow: hidden;
  position: absolute;
  left: calc(50% - 698px);
}
.frame-142 {
    display: flex;
    flex-direction: row;
    gap: 41px;
    align-items: flex-start;
    justify-content: flex-start;
    position: absolute;
    left: 0px;
    top: 7px;
  }
  .text {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .your-text-here {
    color: var(--white-white-50, #ffffff);
    text-align: left;
    font-family: "Inter-Regular", sans-serif;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 1.5px;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    width: 156px;
  }
  .vector {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-123 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector2 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-125 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector3 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-127 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector4 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-129 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector5 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-131 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector6 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-1422 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector7 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-137 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector8 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-141 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector9 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-140 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector10 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-139 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector11 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-138 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector12 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-136 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector13 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-135 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector14 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  .frame-134 {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    position: relative;
  }
  .vector15 {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    position: relative;
    overflow: visible;
  }
  